name: CI - backend
on:
  push:
    branches:
      - main
      - pipelinegen-setup
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x' # Use a specific version like '3.10' if preferred

      - name: Install Python dependencies
        working-directory: ./backend
        run: pip install -r requirements.txt

      - name: Run Python tests
        working-directory: ./backend
        run: pytest # pytest will automatically discover test_app.py

      - name: Build Docker image
        run: docker build -f backend.Dockerfile -t backend .